:root > * {
  --md-code-bg-color: #000000;
  --md-code-hl-name-color: #FFFFFF;
  --md-code-fg-color: #FFFFFF;
  --md-code-hl-operator-color: #58aa22;
  --md-code-hl-punctuation-color: #FFFFFF;
  --md-code-hl-comment-color: #707070;
  --md-code-hl-generic-color: #FFFFFF;
  --md-code-hl-variable-color: #FFFFFF;
}
